<div class="card-panel">
	<a class="waves-effect waves-light btn #26a69a teal lighten-1">Add Order</a>
	<table>
		<thead>
		<tr>
			<th width="20%">Order</th>
			<th width="20%">Ordered by</th>
			<th width="20%">Ordered on</th>
			<th width="20%">Status</th>
			<th width="20%"></th>
		</tr>
		</thead>
		<thead>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<a class="waves-effect waves-light btn #26a69a teal lighten-1">Remove Order</a>
				<a class="waves-effect waves-light btn #26a69a teal lighten-1">Edit Order</a>
			</td>
		</tr>
		</thead>
		</tbody>
	</table>
</div>
