
<div class="card-panel">

	<table>
		<thead>
		<tr>
			<th>[Date][test by{doctor name}]</th>
			<td
					style="width: 50%;"><a class="waves-effect waves-light btn #26a69a teal lighten-1">View Lab
				Results</a></td>
		</tr>
		</thead>
		<thead>
		<tr>
			<th>Laboratory Test Type</th>
			<td></td>
		</tr>
		</thead>
		</tbody>
	</table>
</div>
