<br>
<div class="container #dcedc8 light-green lighten-4" style="padding: 20px;">
	<h3>Patients Lead By Me</h3>
	<div class="input-field col s6">
		<i class="mdi-action-search prefix "></i>
		<input id="icon_prefix" type="text" class="validate">
		<label for="icon_prefix">Search Patient</label>
	</div>
	<div class="card-panel">
		<table>
			<thead>
			<th width="35%">Name</th>
			<th width="35%">Brgy</th>
			<th width="30%"></th>
			</thead>
			<tr>
				<td></td>
				<td></td>
				<td><a class="waves-effect waves-light btn #26a69a teal lighten-1">View Profile</a></td>
			</tr>
		</table>
	</div>

</div>
