<br>
<div class="card-panel">
	<table>
		<tr>
			<th><a class="waves-effect waves-light btn #26a69a teal lighten-1">Update Record</a></th>
		</tr>
	</table>

	<table>

		<tbody>
		<tr>
			<th width="50%">Medical Record ID</th>
			<td></td>
		</tr>
		<tr>
			<th>Doctor ID</th>
			<td></td>
		</tr>
		<tr>
			<th colspan="2" style="text-align: center;">Past Medical History</th>
		</tr>
		<tr>
			<th>Asthma</th>
			<td></td>
		</tr>
		<tr>
			<th>Hypertension</th>
			<td></td>
		</tr>
		<tr>
			<th>CVA</th>
			<td></td>
		</tr>
		<tr>
			<th>Diabetes</th>
			<td></td>
		</tr>
		<tr>
			<th>Cancer</th>
			<td></td>
		</tr>
		<tr>
			<th>Heart Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Lung Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Liver Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Kidney Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Liver Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Kidney Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Other Disease</th>
			<td></td>
		</tr>
		<tr>
			<th colspan="2" style="text-align: center;">Family Disease</th>
		</tr>
		<tr>
			<th>Asthma</th>
			<td></td>
		</tr>
		<tr>
			<th>Hypertension</th>
			<td></td>
		</tr>
		<tr>
			<th>CVA</th>
			<td></td>
		</tr>
		<tr>
			<th>Diabetes</th>
			<td></td>
		</tr>
		<tr>
			<th>Cancer</th>
			<td></td>
		</tr>
		<tr>
			<th>Heart Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Lung Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Liver Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Kidney Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Liver Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Kidney Disease</th>
			<td></td>
		</tr>
		<tr>
			<th>Other Disease</th>
			<td></td>
		</tr>
		<tr>
			<th colspan="2" style="text-align: center;">Immunizations</th>
		</tr>
		<tr>
			<th>Bacille Calmette Guerin</th>
			<td></td>
		</tr>
		<tr>
			<th>Chickenpox Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Diptheria</th>
			<td></td>
		</tr>
		<tr>
			<th>Hepatitis A Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Hepatitis B Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Hib Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Human Papilloma Virus</th>
			<td></td>
		</tr>
		<tr>
			<th>Influenza Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Measles</th>
			<td></td>
		</tr>
		<tr>
			<th>Tetanus</th>
			<td></td>
		</tr>
		<tr>
			<th>Pertussis Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Mumps</th>
			<td></td>
		</tr>
		<tr>
			<th>Rubella Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Mengincoccal Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Pneumococcal Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Polio Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Rotarus Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Other Vaccine</th>
			<td></td>
		</tr>
		<tr>
			<th>Medical Charts</th>
			<td></td>
		</tr>
		</tbody>
	</table>
</div>
