<br>
<div class="card-panel">

	<table>
		<thead>
		<tr>
			<th>[Date][Lead by]</th>
			<td style="width: 50%;"><a class="waves-effect waves-light btn #26a69a teal lighten-1">View Past Medical
				Chart</a></td>
		</tr>
		</thead>
		<thead>
		<tr>
			<th>Reason for admission</th>
			<td></td>
		</tr>
		</thead>
		</tbody>
	</table>
</div>
