<br>
<div class="card-panel">
	<a class="waves-effect waves-light btn #26a69a teal lighten-1">Update Info</a>
	<table>
		<thead>
		<tr>
			<th>[Patient Name]</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Patient ID</th>
			<td style="width: 70%;">0123</td>
		</tr>
		<tr>
			<th>Gender</th>
			<td></td>
		</tr><tr>
			<th>First Name</th>
			<td></td>
		</tr>
		<tr>
			<th>Middle Name</th>
			<td></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td></td>
		</tr>
		<tr>
			<th>Gender</th>
			<td></td>
		</tr>
		<tr>
			<th>House no.</th>
			<td></td>
		</tr>
		<tr>
			<th>Street</th>
			<td></td>
		</tr>
		<tr>
			<th>Brggy</th>
			<td></td>
		</tr>
		<tr>
			<th>City</th>
			<td></td>
		</tr>
		<tr>
			<th>Zip Code</th>
			<td></td>
		</tr>
		<tr>
			<th>Date of birth</th>
			<td></td>
		</tr>
		<tr>
			<th>Age</th>
			<td></td>
		</tr>
		<tr>
			<th>Religion</th>
			<td></td>
		</tr>
		<tr>
			<th>Nationality</th>
			<td></td>
		</tr>
		<tr>
			<th>Language</th>
			<td></td>
		</tr>
		<tr>
			<th>Civil status</th>
			<td></td>
		</tr>
		<tr>
			<th>Contact Number</th>
			<td></td>
		</tr>
		<tr>
			<th>Email</th>
			<td></td>
		</tr>

		<tr>
			<th>Current Hospital ID</th>
			<td></td>
		</tr>
		<tr>
			<th>Medical Record ID</th>
			<td></td>
		</tr>
		</tbody>
	</table>
</div>
