<div class="card-panel">
	<a class="waves-effect waves-light btn #26a69a teal lighten-1">Add Physical Exam</a>
	<table>
		<thead>
		<tr>
			<th>[Date][by{doctor name}]</th>
			<td
					style="width: 30%;"><a class="waves-effect waves-light btn #26a69a teal lighten-1">Edit
				Physical Exam</a></td>
		</tr>
		</thead>
	</table>
	<table>

		<thead>
		<tr>
			<th style="width: 40%;">Section</th>
			<th >Description</th>
		</tr>
		</thead>
		<thead>
		<tr>
			<th>General</th>
			<td></td>
		</tr>
		<tr>
			<th>Eyes</th>
			<td></td>
		</tr>
		<tr>
			<th>Nose</th>
			<td></td>
		</tr>
		<tr>
			<th>Ears</th>
			<td></td>
		</tr>
		<tr>
			<th>Throat</th>
			<td></td>
		</tr>
		<tr>
			<th>Cardio Vascular</th>
			<td></td>
		</tr>
		<tr>
			<th>Gastrointestinal</th>
			<td></td>
		</tr>
		<tr>
			<th>Muscoskeletal</th>
			<td></td>
		</tr>
		<tr>
			<th>Skin</th>
			<td></td>
		</tr>
		<tr>
			<th>Neurologic</th>
			<td></td>
		</tr>
		<tr>
			<th>Psychiatric</th>
			<td></td>
		</tr>
		<tr>
			<th>Endocrine</th>
			<td></td>
		</tr>
		<tr>
			<th>Hemelympathic</th>
			<td></td>
		</tr>
		<tr>
			<th>Allergicimmunology</th>
			<td></td>
		</tr>
		<tr>
			<th>Notes</th>
			<td></td>
		</tr>
		</thead>
		</tbody>
	</table>
</div>
