<div class="card-panel">
	<a class="waves-effect waves-light btn #26a69a teal lighten-1">Add Vital Signs</a>
	<table>
		<thead>
		<tr>
			<th>[Date][by{doctor name}]</th>
			<td style="width: 30%;"><a class="waves-effect waves-light btn #26a69a teal lighten-1">Edit Vital
				Signs</a></td>
		</tr>
		</thead>
		<thead>
		<tr>
			<th>Blood Pressure</th>
			<td></td>
		</tr>
		<tr>
			<th>Temperature in Celcius</th>
			<td></td>
		</tr>
		<tr>
			<th>Pulse per minute</th>
			<td></td>
		</tr>
		<tr>
			<th>Respiration per minute</th>
			<td></td>
		</tr>
		</thead>
		</tbody>
	</table>
</div>
