<div class="card-panel" ng-controller="patientsController">
	<form class="col s12">
		<div class="row">
			<div class="container valign-wrapper" style="height: 5em;">
				<h3>Patients attended by me</h3>
			</div>

			<div style="margin: auto; width: 90%;">
				<div class="input-field col s10">
					<i class="mdi-action-search prefix "></i>
					<input id="icon_prefix" type="text" class="validate" ng-model="search">
					<label for="icon_prefix">Search Patient</label>
				</div>
				<table class="col s10">
					<thead>
					<tr>
						<th width="35%">Patient name</th>
						<th width="35%">Reason for admission</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr dir-paginate="patient in patientsAttended | orderBy: 'lastName' | filter: search | itemsPerPage: 5">
						<td>{{patient.lastName + ", " + patient.firstName + " " + patient.middleName}}</td>
						<td>{{currentMedicalChart.reasonForAdmission}}</td>
						<td>
							<a class="waves-effect waves-light btn btnpad" href="ViewPatient" style="margin-bottom: 5px;" ng-click="viewProfile(patient)">View
								Patient</a>
							<a class="waves-effect waves-light btn btnpad" style="margin-bottom: 5px;">Release/Discharge</a>

						</td>
					</tr>
					</tbody>
				</table>
				<div class="col s10">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
		</div>
	</form>
</div>