<div class="card-panel">
	<a class="waves-effect waves-light btn #26a69a teal lighten-1">Add Attending Doctor</a>
	<table>
		<thead>
		<tr>
			<th width="30%">Name of Doctor</th>
			<th width="30%">Specialization</th>
			<th width="40%"></th>
		</tr>
		</thead>
		<thead>
		<tr>
			<td></td>
			<td></td>
			<td>
				<a class="waves-effect waves-light btn #26a69a teal lighten-1">View Profile</a>
				<a class="waves-effect waves-light btn #26a69a teal lighten-1">Remove Doctor</a>
			</td>
		</tr>
		</thead>
		</tbody>
	</table>
</div>
