<div class="card-panel">
    <h4>Handle request on patient <span style="color:limegreen;font-weight:bold">{{handlePatient.firstName + " " + handlePatient.middleName + " "+ handlePatient.lastName}}</span></h4>
    <p style="color: #424242">Patient number: {{handlePatient.patient_Id}}</p>
    <div class="divider"></div>
    <h5>Medical Chart Info</h5>
    <div id="divMedChart">
            <div class="input-field col s12">
                <label for="reasonForAdmission">Reason for admission</label>
                <input id="reasonForAdmission" name="reasonForAdmission" type="text" class="validate" data-error=".errorTxt50" ng-model="reasonForAdmission">
                <div class="errorTxt50"></div>
            </div>
            <div class="input-field col s12">
                <label for="problems">Primary Diagnosis</label>
                <input id="problems" name="problems" type="text" class="validate" data-error=".errorTxt51" ng-model="primaryDiagnosis">
                <div class="errorTxt51"></div>
            </div>
            <div class="input-field col s12">
                <label for="problems">Differential Diagnosis</label>
                <input id="problems" name="problems" type="text" class="validate" data-error=".errorTxt51" ng-model="differentialDiagnosis">
                <div class="errorTxt51"></div>
            </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="medicalTreatment">Medical Treatment</label>
                <input id="medicalTreatment" name="medicalTreatment" type="text" class="validate" data-error=".errorTxt52" ng-model="medicalTreatment">
                <div class="errorTxt52"></div>
            </div>
            <div class="input-field col s6">
                <label for="counsellingTime">Counselling Time</label>
                <input id="counsellingTime" name="counsellingTime" type="text" class="validate" data-error=".errorTxt53" ng-model="counsellingTime">
                <div class="errorTxt53"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="coordCareTime">Coordination of caretime</label>
                <input id="coordCareTime" name="coordCareTime" type="text" class="validate" data-error=".errorTxt54" ng-model="coordinationOfCaretime">
                <div class="errorTxt54"></div>
            </div>
            <div class="input-field col s6">
                <label for="returnVisit">Return visit</label>
                <input id="returnVisit" name="returnVisit" type="text" class="validate" data-error=".errorTxt55" ng-model="returnVisit">
                <div class="errorTxt55"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="dispo">Disposition</label>
                <input id="dispo" name="dispo" type="text" class="validate" data-error=".errorTxt56" ng-model="disposition">
                <div class="errorTxt56"></div>
            </div>
        </div>
    </div>
    <div id="divMedChartBooleans">
        <table>
            <tr>
                <td>
                    <table style="margin: 0 auto; width: 70%;">
                        <tr>
                            <th width="5%">Polyuria</th>
                            <td width="5%">
                                <input name="MedChartPolyuria" type="radio" id="trueMedChartPolyuria"  ng-model="MedChartPolyuria" ng-value="true"/>
                                <label for="trueMedChartPolyuria">True</label>
                                <input name="MedChartPolyuria" type="radio" id="falseMedChartPolyuria" ng-model="MedChartPolyuria" ng-value="false"/>
                                <label for="falseMedChartPolyuria">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Polydispsia</th>
                            <td width="5%">
                                <input name="MedChartPolydispsia" type="radio" id="trueMedChartPolydispsia" ng-model="MedChartPolydispsia" ng-value="true"/>
                                <label for="trueMedChartPolydispsia">True</label>
                                <input name="MedChartPolydispsia" type="radio" id="falseMedChartPolydispsia" ng-model="MedChartPolydispsia" ng-value="false"/>
                                <label for="falseMedChartPolydispsia">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Blurred Vision</th>
                            <td width="5%">
                                <input name="MedChartBlurredVision" type="radio" id="trueMedChartBlurredVision" ng-model="MedChartBlurredVision" ng-value="true"/>
                                <label for="trueMedChartBlurredVision">True</label>
                                <input name="MedChartBlurredVision" type="radio" id="falseMedChartBlurredVision" ng-model="MedChartBlurredVision" ng-value="false"/>
                                <label for="falseMedChartBlurredVision">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Diaphoresis</th>
                            <td width="5%">
                                <input name="MedChartDiaphoresis" type="radio" id="trueMedChartDiaphoresis" ng-model="MedChartDiaphoresis" ng-value="true"/>
                                <label for="trueMedChartDiaphoresis">True</label>
                                <input name="MedChartDiaphoresis" type="radio" id="falseMedChartDiaphoresis" ng-model="MedChartDiaphoresis" ng-value="false"/>
                                <label for="falseMedChartDiaphoresis">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Agitation</th>
                            <td width="5%">
                                <input name="MedChartAgitation" type="radio" id="trueMedChartAgitation" ng-model="MedChartAgitation" ng-value="true"/>
                                <label for="trueMedChartAgitation">True</label>
                                <input name="MedChartAgitation" type="radio" id="falseMedChartAgitation" ng-model="MedChartAgitation" ng-value="false"/>
                                <label for="falseMedChartAgitation">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Tremor</th>
                            <td width="5%">
                                <input name="MedChartTremor" type="radio" id="trueMedChartTremor" ng-model="MedChartTremor" ng-value="true"/>
                                <label for="trueMedChartTremor">True</label>
                                <input name="MedChartTremor" type="radio" id="falseMedChartTremor" ng-model="MedChartTremor" ng-value="false"/>
                                <label for="falseMedChartTremor">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Palpitation</th>
                            <td width="5%">
                                <input name="MedChartPalpitation" type="radio" id="trueMedChartPalpitation" ng-model="MedChartPalpitation" ng-value="true"/>
                                <label for="trueMedChartPalpitation">True</label>
                                <input name="MedChartPalpitation" type="radio" id="falseMedChartPalpitation" ng-model="MedChartPalpitation" ng-value="false" />
                                <label for="falseMedChartPalpitation">False</label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table style="margin: 0 auto; width: 70%;">
                        <tr>
                            <th width="5%">Insomnia</th>
                            <td width="5%">
                                <input name="MedChartInsomnia" type="radio" id="trueMedChartInsomnia" ng-model="MedChartInsomnia" ng-value="true"/>
                                <label for="trueMedChartInsomnia">True</label>
                                <input name="MedChartInsomnia" type="radio" id="falseMedChartInsomnia" ng-model="MedChartInsomnia" ng-value="false"/>
                                <label for="falseMedChartInsomnia">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Confusion</th>
                            <td width="5%">
                                <input name="MedChartConfusion" type="radio" id="trueMedChartConfusion" ng-model="MedChartConfusion" ng-value="true"/>
                                <label for="trueMedChartConfusion">True</label>
                                <input name="MedChartConfusion" type="radio" id="falseMedChartConfusion" ng-model="MedChartConfusion" ng-value="false"/>
                                <label for="falseMedChartConfusion">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Lethargy</th>
                            <td width="5%">
                                <input name="MedChartLethargy" type="radio" id="trueMedChartLethargy" ng-model="MedChartLethargy" ng-value="true"/>
                                <label for="trueMedChartLethargy">True</label>
                                <input name="MedChartLethargy" type="radio" id="falseMedChartLethargy" ng-model="MedChartLethargy" ng-value="false"/>
                                <label for="falseMedChartLethargy">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Somnolence</th>
                            <td width="5%">
                                <input name="MedChartSomnolenc" type="radio" id="trueMedChartSomnolence" ng-model="MedChartSomnolence" ng-value="true"/>
                                <label for="trueMedChartSomnolence">True</label>
                                <input name="MedChartSomnolence" type="radio" id="falseMedChartSomnolence" ng-model="MedChartSomnolence" ng-value="false"/>
                                <label for="falseMedChartSomnolence">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Amnesia</th>
                            <td width="5%">
                                <input name="MedChartAmnesia" type="radio" id="trueMedChartAmnesia" ng-model="MedChartAmnesia" ng-value="true"/>
                                <label for="trueMedChartAmnesia">True</label>
                                <input name="MedChartAmnesia" type="radio" id="falseMedChartAmnesia" ng-model="MedChartAmnesia" ng-value="false"/>
                                <label for="falseMedChartAmnesia">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Stupor</th>
                            <td width="5%">
                                <input name="MedChartStupor" type="radio" id="trueMedChartStupor" ng-model="MedChartStupor" ng-value="true"/>
                                <label for="trueMedChartStupor">True</label>
                                <input name="MedChartStupor" type="radio" id="falseMedChartStupor" ng-model="MedChartStupor" ng-value="false"/>
                                <label for="falseMedChartStupor">False</label>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%">Seizures</th>
                            <td width="5%">
                                <input name="MedChartSeizures" type="radio" id="trueMedChartSeizures" ng-model="MedChartSeizures" ng-value="true"/>
                                <label for="trueMedChartSeizures">True</label>
                                <input name="MedChartSeizures" type="radio" id="falseMedChartSeizures" ng-model="MedChartSeizures" ng-value="false"/>
                                <label for="falseMedChartSeizures">False</label>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="divider"></div>
    <h5>Consent Verification</h5>
    <div class="row">
        <div class="input-field col s6 m5">
            <i class="mdi-communication-vpn-key prefix"></i>
            <input id="request" type="text" class="validate" ng-model="verificationNumber">
            <label for="request">SSS ID/TIN/Driver's License</label>
        </div>
    </div>


    <br>
    <div class="row">
        <div id="card-alert" class="card green lighten-5">
            <div class="card-content green-text">
                <p>By clicking "Submit", you agree to handle <span style="font-weight:bold">{{handlePatient.firstName + " " + handlePatient.middleName + " "+ handlePatient.lastName}}</span> personal info and records.</p>
            </div>
        </div>
        <button class="btnSendString waves-effect waves-light btn btnpad" type="submit" ng-click="handleVerify(verificationNumber)">Submit<i class="mdi-content-send right"></i></button>
    </div>
    <!--<script>
        $('.btnSendString').click(function(){
            swal("Success!", "Handle request granted!", "success");
            //swal("Failed", "Handle request failed", "error");
        });
    </script>-->

</div>