<div class="card-panel">
	<div class="row">
		<form class="col s12">
			<div class="row">
				<h4>Nurse</h4>
				<div style="margin: auto; width: 80%;">
					<div class="input-field col s10">
						<i class="mdi-action-search prefix "></i>
						<input id="icon_prefix" type="text" class="validate">
						<label for="icon_prefix">Search Nurse</label>
					</div>
					<table class="col s10">
						<thead>
						<tr>
							<th width="70%">Nurse name</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th></th>
							<td><a class="waves-effect waves-light btn #26a69a teal lighten-1">View Profile</a></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
</div>
