<div class="row">
	<div class="col s12 ">
		<div class="row">
			<div class="container valign-wrapper" style="height: 5em; margin: 0 auto; width: 25%;">
				<h4>Patient Name</h4>
			</div>
		</div>

		<div class="row" style="padding: 20px;">
			<div class="col s12" style="padding: 0px;">
				<ul class="tabs #dcedc8 light-green lighten-4">
					<div class="indicator #00c853 green accent-4" style="z-index:1"></div>
					<li class="tab col s3"><a class="active" href="#pprof" style="color: black;">Patient Profile</a></li>
					<li class="tab col s3"><a href="#medrec" style="color: black;">Medical Record</a></li>
					<li class="tab col s3"><a href="#pastmedchart" style="color: black;">Past Medical Chart</a></li>
					<li class="tab col s3"><a href="#curmedchart" style="color: black;">Current Medical Chart</a></li>
				</ul>
			</div>

			<div id="pprof" class="col s12 #dcedc8 light-green lighten-4">
				<div class="col s12" style="padding-top: 10px;" id="PatientTable">
					<br>
					<div class="card-panel">
						<a class="waves-effect waves-light btn btnpad modal-trigger" href="#update_info" id="btnupdate" onclick="copy()">Update Info<i class="mdi-editor-border-color right"></i></a>
						<div id="update_info" class="modal modal-fixed-footer">
							<div id="p">
								<form class="formValidate" id="formValidate" method="get" action=""> <!--test lang tong get-->
									<div class="modal-content #f1f8e9 light-green lighten-5">
										<div class="card-panel">
											<h4> Update Info<i class="mdi-editor-border-color left"></i></h4>
											<div class="">
												<form class="col s12">
													<div class="divider"></div>
													<h5><i class="mdi-action-info-outline"></i>Basic Information</h5>
													<div class="row">
														<div class="input-field col s12">
															<label for="first_name" id="lblfname">First Name*</label>
															<input id="first_name" name="first_name" type="text" class="validate" ng-model="firstName" data-error=".errorTxt1">
															<div class="errorTxt1"></div>
														</div>
														<div class="input-field col s12">
															<input id="middle_name" type="text" name="middle_name" class="validate" ng-model="middleName" data-error=".errorTxt2">
															<label for="middle_name" id="lblmname">Middle Name</label>
															<div class="errorTxt2"></div>
														</div>
														<div class="input-field col s12">
															<input id="last_name" type="text" name="last_name" class="validate" ng-model="lastName" data-error=".errorTxt3">
															<label for="last_name" id="lbllname">Last Name</label>
															<div class="errorTxt3"></div>
														</div>
														<div class="col s12">
															<label>Gender *</label>
															<p>
																<input name="cgender" type="radio" id="gender_male" data-error=".errorTxt20"/>
																<label for="gender_male">Male</label>
															</p>
															<p>
																<input name="cgender" type="radio" id="gender_female" value="f"/>
																<label for="gender_female">Female</label>
															</p>
															<div class="input-field">
																<div class="errorTxt20"></div>
															</div>
														</div>
													</div>
													<div class="divider"></div>

													<h5>Other Information</h5>
													<div class="row">
														<div class="input-field col s12">
															<input type="text" id="bdate" class="datepicker" ng-model="birthDate">
															<label for="bdate" id="lblbdate">Birthdate</label>
															<script>
																$('.datepicker').pickadate({
																	selectMonths: true, // Creates a dropdown to control month
																	selectYears: 15, // Creates a dropdown of 15 years to control year,
																	today: 'Today',
																	clear: 'Clear',
																	close: 'Ok',
																	closeOnSelect: false, // Close upon selecting a date,
																	container: 'body'
																});
															</script>
														</div>
														<div class="input-field col s12">
															<input id="religion" type="text" class="validate" name="religion" ng-model="religion" data-error=".errorTxt4">
															<label for="religion" id="lblrel">Religion</label>
															<div class="errorTxt4"></div>
														</div>
														<div class="input-field col s12">
															<input id="nationality" type="text" class="validate" name="nationality" ng-model="nationality" data-error=".errorTxt5">
															<label for="nationality" id="lblnat">Nationality</label>
															<div class="errorTxt5"></div>
														</div>
														<div class="input-field col s12">
															<input id="language" type="text" class="validate" name="language" ng-model="language" data-error=".errorTxt6">
															<label for="language" id="lbllang">Language</label>
															<div class="errorTxt6"></div>
														</div>
														<div class="col s12">
															<form action="#">
																<p>Civil Status</p>
																<p>
																	<input name="group2" type="radio" id="cs1"/>
																	<label for="cs1">Single</label>

																	<input name="group2" type="radio" id="cs2"/>
																	<label for="cs2">Married</label>
																</p>
															</form>
														</div>

													</div>
													<div class="divider"></div>

													<h5><i class="mdi-communication-quick-contacts-dialer"></i> Contact
														Information</h5>
													<div class="row">
														<div class="input-field col s12">
															<input id="house_number" type="text" class="validate" name="house_number" ng-model="houseNum" data-error=".errorTxt7">
															<label for="house_number" id="lblhnum">House number</label>
															<div class="errorTxt7"></div>
														</div>
														<div class="input-field col s12">
															<input id="street" type="text" class="validate" name="street" ng-model="street" data-error=".errorTxt8">
															<label for="street" id="lblstrt">Street</label>
															<div class="errorTxt8"></div>
														</div>
														<div class="input-field col s12">
															<input id="baranggay" type="text" class="validate" name="baranggay" ng-model="brgy" data-error=".errorTxt9">
															<label for="baranggay" id="lblbrgy">Baranggay</label>
															<div class="errorTxt9"></div>
														</div>
														<div class="input-field col s12">
															<input id="city" type="text" class="validate" name="city" ng-model="city" data-error=".errorTxt10">
															<label for="city" id="lblcty">City</label>
															<div class="errorTxt10"></div>
														</div>
														<div class="input-field col s12">
															<input id="zip_code" type=text class="validate" name="zip_code" ng-model="zipCode" data-error=".errorTxt11">
															<label for="zip_code" id="lblzip">Zip Code</label>
															<div class="errorTxt11"></div>
														</div>
													</div>
													<div class="row">
														<div class="input-field col s12">
															<input id="email" type="email" class="validate" name="email" ng-model="email" data-error=".errorTxt12">
															<label for="email" id="lbleml">Email</label>
															<div class="errorTxt12"></div>
														</div>
													</div>
													<div class="row">
														<div class="input-field col s12">
															<input id="contact_num" type="text" class="validate" name="contact_num" ng-model="contact" data-error=".errorTxt13">
															<label for="contact_num" id="lblcnum">Contact Number</label>
															<div class="errorTxt13"></div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn waves-effect waves-light right submit btnpad" type="submit" name="action">Submit
											<i class="mdi-content-send right"></i>
										</button>
										<button class="btn waves-effect waves-light right modal-action modal-close btnpad" style="margin-right: 10px;">Cancel
											<i class="mdi-navigation-cancel right"></i>
										</button>
									</div>
								</form>
							</div>
						</div>

						<table>
							<thead>
							<tr>
								<th>[Patient Name]</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th>Patient ID</th>
								<td style="width: 70%;">0123</td>
							</tr>
							<tr>
								<th>Gender</th>
								<td></td>
							</tr><tr>
								<th>First Name</th>
								<td id="fname">Aton ab</td>
							</tr>
							<tr>
								<th>Middle Name</th>
								<td id="mname">b</td>
							</tr>
							<tr>
								<th>Last Name</th>
								<td id="lname">c</td>
							</tr>
							<tr>
								<th>Gender</th>
								<td id="gndr">d</td>
							</tr>
							<tr>
								<th>House no.</th>
								<td id="hnum">e</td>
							</tr>
							<tr>
								<th>Street</th>
								<td id="strt">f</td>
							</tr>
							<tr>
								<th>Brggy</th>
								<td id="brgy">g</td>
							</tr>
							<tr>
								<th>City</th>
								<td id="cty">h</td>
							</tr>
							<tr>
								<th>Zip Code</th>
								<td id="zip">i</td>
							</tr>
							<tr>
								<th>Date of birth</th>
								<td id="bthdy">j</td>
							</tr>
							<tr>
								<th>Age</th>
								<td id="age">k</td>
							</tr>
							<tr>
								<th>Religion</th>
								<td id="relig">l</td>
							</tr>
							<tr>
								<th>Nationality</th>
								<td id="nat">m</td>
							</tr>
							<tr>
								<th>Language</th>
								<td id="lang">n</td>
							</tr>
							<tr>
								<th>Civil status</th>
								<td id="cstat">o</td>
							</tr>
							<tr>
								<th>Contact Number</th>
								<td id="cnum">p</td>
							</tr>
							<tr>
								<th>Email</th>
								<td id="eml">q</td>
							</tr>

							<tr>
								<th>Current Hospital ID</th>
								<td></td>
							</tr>
							<tr>
								<th>Medical Record ID</th>
								<td></td>
							</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<div id="medrec" class="col s12 #dcedc8 light-green lighten-4">
				<div class="col s12" style="padding-top: 10px;" id="MedicalRecord">
					<br>
					<div class="card-panel">
						<table>
							<tr>
								<td><a class="waves-effect waves-light btn btnpad">Update Record<i class="mdi-editor-border-color right"></i></a></td>
							</tr>
						</table>

						<table>

							<tbody>
							<tr>
								<th width="50%">Medical Record ID</th>
								<td></td>
							</tr>
							<tr>
								<th>Doctor ID</th>
								<td></td>
							</tr>
							<tr>
								<th colspan="2" style="text-align: center;">Past Medical History</th>
							</tr>
							<tr>
								<th>Asthma</th>
								<td></td>
							</tr>
							<tr>
								<th>Hypertension</th>
								<td></td>
							</tr>
							<tr>
								<th>CVA</th>
								<td></td>
							</tr>
							<tr>
								<th>Diabetes</th>
								<td></td>
							</tr>
							<tr>
								<th>Cancer</th>
								<td></td>
							</tr>
							<tr>
								<th>Heart Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Lung Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Liver Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Kidney Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Liver Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Kidney Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Other Disease</th>
								<td></td>
							</tr>
							<tr>
								<th colspan="2" style="text-align: center;">Family Disease</th>
							</tr>
							<tr>
								<th>Asthma</th>
								<td></td>
							</tr>
							<tr>
								<th>Hypertension</th>
								<td></td>
							</tr>
							<tr>
								<th>CVA</th>
								<td></td>
							</tr>
							<tr>
								<th>Diabetes</th>
								<td></td>
							</tr>
							<tr>
								<th>Cancer</th>
								<td></td>
							</tr>
							<tr>
								<th>Heart Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Lung Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Liver Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Kidney Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Liver Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Kidney Disease</th>
								<td></td>
							</tr>
							<tr>
								<th>Other Disease</th>
								<td></td>
							</tr>
							<tr>
								<th colspan="2" style="text-align: center;">Immunizations</th>
							</tr>
							<tr>
								<th>Bacille Calmette Guerin</th>
								<td></td>
							</tr>
							<tr>
								<th>Chickenpox Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Diptheria</th>
								<td></td>
							</tr>
							<tr>
								<th>Hepatitis A Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Hepatitis B Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Hib Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Human Papilloma Virus</th>
								<td></td>
							</tr>
							<tr>
								<th>Influenza Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Measles</th>
								<td></td>
							</tr>
							<tr>
								<th>Tetanus</th>
								<td></td>
							</tr>
							<tr>
								<th>Pertussis Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Mumps</th>
								<td></td>
							</tr>
							<tr>
								<th>Rubella Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Mengincoccal Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Pneumococcal Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Polio Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Rotarus Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Other Vaccine</th>
								<td></td>
							</tr>
							<tr>
								<th>Medical Charts</th>
								<td></td>
							</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<div id="pastmedchart" class="col s12 #dcedc8 light-green lighten-4">
				<div class="col s12" style="padding-top: 10px;" id="PastMedicalChart">
					<h5>Past Medical Chart [Date]</h5>
					<br>
					<div class="card-panel">

						<table>
							<thead>
							<tr>
								<th>[Date][Lead by]</th>
								<td style="width: 50%;"><a class="waves-effect waves-light btn btnpad">View Past Medical
									Chart<i class="mdi-action-open-in-new right"></i></a></td>
							</tr>
							</thead>
							<thead>
							<tr>
								<th>Reason for admission</th>
								<td></td>
							</tr>
							</thead>
							</tbody>
						</table>
					</div>

				</div>
				<div class="col s12" style="padding-top: 10px;" id="PastMedicalChart2">
					<h5>Past Medical Chart [Date]</h5>
					<br>
					<div class="card-panel">

						<table>
							<thead>
							<tr>
								<th>[Date][Lead by]</th>
								<td style="width: 50%;"><a class="waves-effect waves-light btn btnpad">View Past Medical
									Chart<i class="mdi-action-open-in-new right"></i></a></td>
							</tr>
							</thead>
							<thead>
							<tr>
								<th>Reason for admission</th>
								<td></td>
							</tr>
							</thead>
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<div id="curmedchart" class="col s12 #dcedc8 light-green lighten-4">
				<div class="col s12" style="padding-top: 10px;">
					<h5>Current Medical Chart [Date]</h5>
					<ul class="tabs #e1f5fe light-blue lighten-5" style="font-size: 11px;">
						<li class="tab col s3"><a class="active" href="#attending">Attending Doctors</a></li>
						<li class="tab col s3"><a href="#curlab">Current Lab Results</a></li>
						<li class="tab col s3"><a href="#curdoc">Current Doctors Order</a></li>
						<li class="tab col s3"><a href="#vital">Vital Signs</a></li>
						<li class="tab col s3"><a href="#sysrev">System Review</a></li>
						<li class="tab col s3"><a href="#phyex">Physical Exam</a></li>
					</ul>
				</div>
				<div id="attending" class="col s12">

					<div class="col s12 #e1f5fe light-blue lighten-5" style="padding-top: 10px; margin-bottom: 20px;"
						 id="AttendingDoctors">
						<div class="card-panel">
							<a class="waves-effect waves-light btn btnpad">Add Attending Doctor<i class="mdi-social-group-add right"></i></a>
							<table>
								<thead>
								<tr>
									<th width="30%">Name of Doctor</th>
									<th width="30%">Specialization</th>
									<th width="40%"></th>
								</tr>
								</thead>
								<thead>
								<tr>
									<td></td>
									<td></td>
									<td>
										<a class="waves-effect waves-light btn btnpad">View Profile<i class="mdi-action-perm-identity right"></i></a>
										<a class="waves-effect waves-light btn btnpad">Remove Doctor<i class="mdi-action-highlight-remove right"></i></a>
									</td>
								</tr>
								</thead>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div id="curlab" class="col s12">
					<div class="col s12 #e1f5fe light-blue lighten-5" style="padding-top: 10px; margin-bottom: 20px;" id="LabResults">

						<div class="card-panel">

							<table>
								<thead>
								<tr>
									<th>[Date][test by{doctor name}]</th>
									<td
											style="width: 50%;"><a class="waves-effect waves-light btn btnpad">View Lab
										Results<i class="mdi-content-content-paste right"></i></a></td>
								</tr>
								</thead>
								<thead>
								<tr>
									<th>Laboratory Test Type</th>
									<td></td>
								</tr>
								</thead>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div id="curdoc" class="col s12">
					<div class="col s12 #e1f5fe light-blue lighten-5" style="padding-top: 10px; margin-bottom: 20px;"
						 id="DoctorsOrder">
						<div class="card-panel">
							<a class="waves-effect waves-light btn btnpad">Add Order<i class="mdi-action-note-add right"></i></a>
							<table>
								<thead>
								<tr>
									<th width="20%">Order</th>
									<th width="20%">Ordered by</th>
									<th width="20%">Ordered on</th>
									<th width="20%">Status</th>
									<th width="20%"></th>
								</tr>
								</thead>
								<thead>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<a class="waves-effect waves-light btn btnpad">Remove Order<i class="mdi-action-highlight-remove right"></i></a>
										<a class="waves-effect waves-light btn btnpad">Edit Order<i class="mdi-editor-border-color right"></i></a>
									</td>
								</tr>
								</thead>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div id="vital" class="col s12">

					<div class="col s12 #e1f5fe light-blue lighten-5" style="padding-top: 10px; margin-bottom: 20px;"
						 id="VitalSigns">
						<div class="card-panel">
							<a class="waves-effect waves-light btn btnpad">Add Vital Signs<i class="mdi-action-note-add right"></i></a>
							<table>
								<thead>
								<tr>
									<th>[Date][by{doctor name}]</th>
									<td style="width: 30%;"><a class="waves-effect waves-light btn btnpad">Edit Vital
										Signs<i class="mdi-editor-border-color right"></i></a></td>
								</tr>
								</thead>
								<thead>
								<tr>
									<th>Blood Pressure</th>
									<td></td>
								</tr>
								<tr>
									<th>Temperature in Celcius</th>
									<td></td>
								</tr>
								<tr>
									<th>Pulse per minute</th>
									<td></td>
								</tr>
								<tr>
									<th>Respiration per minute</th>
									<td></td>
								</tr>
								</thead>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div id="sysrev" class="col s12">
					<div class="col s12 #e1f5fe light-blue lighten-5" style="padding-top: 10px; margin-bottom: 20px;" id="SystemReview">
						<div class="card-panel">
							<a class="waves-effect waves-light btn btnpad">Add System Review<i class="mdi-action-note-add right"></i></a>
							<table>
								<thead>
								<tr>
									<th>[Date][by{doctor name}]</th>
									<td
											style="width: 30%;"><a class="waves-effect waves-light btn btnpad">Edit System
										Review<i class="mdi-editor-border-color right"></i></a></td>
								</tr>
								</thead>
							</table>
							<table>

								<thead>
								<tr>
									<th style="width: 40%;">Section</th>
									<th >Description</th>
								</tr>
								</thead>
								<thead>
								<tr>
									<th>General</th>
									<td></td>
								</tr>
								<tr>
									<th>Eyes</th>
									<td></td>
								</tr>
								<tr>
									<th>Nose</th>
									<td></td>
								</tr>
								<tr>
									<th>Ears</th>
									<td></td>
								</tr>
								<tr>
									<th>Throat</th>
									<td></td>
								</tr>
								<tr>
									<th>Cardio Vascular</th>
									<td></td>
								</tr>
								<tr>
									<th>Gastrointestinal</th>
									<td></td>
								</tr>
								<tr>
									<th>Muscoskeletal</th>
									<td></td>
								</tr>
								<tr>
									<th>Skin</th>
									<td></td>
								</tr>
								<tr>
									<th>Neurologic</th>
									<td></td>
								</tr>
								<tr>
									<th>Psychiatric</th>
									<td></td>
								</tr>
								<tr>
									<th>Endocrine</th>
									<td></td>
								</tr>
								<tr>
									<th>Hemelympathic</th>
									<td></td>
								</tr>
								<tr>
									<th>Allergicimmunology</th>
									<td></td>
								</tr>
								<tr>
									<th>Notes</th>
									<td></td>
								</tr>
								</thead>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div id="phyex" class="col s12">
					<div class="col s12 #e1f5fe light-blue lighten-5" style="padding-top: 10px; margin-bottom: 20px;" id="PhysicalExam">
						<div class="card-panel">
							<a class="waves-effect waves-light btn btnpad">Add Physical Exam<i class="mdi-action-note-add right"></i></a>
							<table>
								<thead>
								<tr>
									<th>[Date][by{doctor name}]</th>
									<td
											style="width: 30%;"><a class="waves-effect waves-light btn btnpad">Edit
										Physical Exam<i class="mdi-editor-border-color right"></i></a></td>
								</tr>
								</thead>
							</table>
							<table>

								<thead>
								<tr>
									<th style="width: 40%;">Section</th>
									<th >Description</th>
								</tr>
								</thead>
								<thead>
								<tr>
									<th>General</th>
									<td></td>
								</tr>
								<tr>
									<th>Eyes</th>
									<td></td>
								</tr>
								<tr>
									<th>Nose</th>
									<td></td>
								</tr>
								<tr>
									<th>Ears</th>
									<td></td>
								</tr>
								<tr>
									<th>Throat</th>
									<td></td>
								</tr>
								<tr>
									<th>Cardio Vascular</th>
									<td></td>
								</tr>
								<tr>
									<th>Gastrointestinal</th>
									<td></td>
								</tr>
								<tr>
									<th>Muscoskeletal</th>
									<td></td>
								</tr>
								<tr>
									<th>Skin</th>
									<td></td>
								</tr>
								<tr>
									<th>Neurologic</th>
									<td></td>
								</tr>
								<tr>
									<th>Psychiatric</th>
									<td></td>
								</tr>
								<tr>
									<th>Endocrine</th>
									<td></td>
								</tr>
								<tr>
									<th>Hemelympathic</th>
									<td></td>
								</tr>
								<tr>
									<th>Allergicimmunology</th>
									<td></td>
								</tr>
								<tr>
									<th>Notes</th>
									<td></td>
								</tr>
								</thead>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>


		<script>
			$(document).ready(function(){
				$('ul.tabs').tabs();
			});
		</script>
		<script>
			$(document).ready(function(){
				// the "href" attribute of .modal-trigger must specify the modal ID that   wants to be triggered
				$('.modal-trigger').leanModal();
			});
		</script>
		<script src="injector2.js"></script>
		<script type="text/javascript" src="js/update-script.js"></script>
	</div>
</div>