<div class="card-panel">
	<form class="col s12" id="formValidate">
		<div class="row">
			<!-- Modal Trigger -->


			<div class="container valign-wrapper" style="height: 5em;">
				<h3>Patient Tab</h3>
				<a class="btn modal-trigger btnpad" href="#modal1" style="margin: 10px;"><i class="mdi-content-add left"></i>Add Patient</i></a>
				<!-- Modal Structure -->
				<div id="modal1" class="modal modal-fixed-footer">
					<div class="modal-content #f1f8e9 light-green lighten-5">
						<div class="card-panel">
							<h4><i class="mdi-content-add-circle-outline"></i>Add Patient</h4>
							<div class="">

								<div class="divider"></div>
								<h5><i class="mdi-action-info-outline left"></i>Basic Information</h5>
								<div class="row">
									<div class="input-field col s6">
										<input id="first_name" type="text" name="first_name" data-error=".errorTxt1" onblur="divPatientInfoBlur()" class="validate" ng-model="firstName">
										<label for="first_name">First Name*</label>
										<div class="errorTxt1"></div>
									</div>
									<div class="input-field col s6">
										<input id="middle_name" type="text" name="middle_name" data-error=".errorTxt2" onblur="divPatientInfoBlur()" class="validate" ng-model="middleName">
										<label for="middle_name">Middle Name*</label>
										<div class="errorTxt2"></div>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s6">
										<input id="last_name" type="text" name="last_name" data-error=".errorTxt3" onblur="divPatientInfoBlur()" class="validate" ng-model="lastName">
										<label for="last_name">Last Name*</label>
										<div class="errorTxt3"></div>
									</div>
									<div class="col s6">
										<p>Gender*</p>
										<p>
											<input ng-value="'Male'" name="cgender" data-error=".errorTxt4" type="radio" id="test1" ng-model="gender"/>
											<label for="test1">Male</label>

											<input ng-value="'Female'" name="cgender" type="radio" id="test2" ng-model="gender" />
											<label for="test2">Female</label>
										</p>
										<div class="input-field">
											<div class="errorTxt4"></div>
										</div>
									</div>
								</div>
								<div class="divider"></div>

								<h5><i class="mdi-action-info left"></i>Other Information</h5>
								<div class="row">
									<div class="input-field col s6">
										<input type="text" id="bdate" name="bdate" data-error=".errorTxt5" onblur="divPatientInfoBlur()" class="datepicker" ng-model="birthDate">
										<label for="bdate">Birthdate*</label>
										<div class="errorTxt5"></div>
										<script>
											$('.datepicker').pickadate({
												selectMonths: true, // Creates a dropdown to control month
												selectYears: 100, // Creates a dropdown of 15 years to control year,
												closeOnSelect: true,
												onSet: function(e){
													var picker = $('.datepicker').pickadate('picker');
													if(e.highlight!=null){
														picker.set('select', new Date(Number(e.highlight[0]), Number(e.highlight[1]), Number(e.highlight[2])));
													}
												},
												today: 'Today',
												clear: 'Clear',
												close: 'Ok',
												closeOnSelect: false, // Close upon selecting a date,
												container: 'body'
											});
										</script>
									</div>
									<div class="input-field col s6">
										<input id="religion" type="text" name="religion" data-error=".errorTxt6" onblur="divPatientInfoBlur()" class="validate" ng-model="religion">
										<label for="religion">Religion*</label>
										<div class="errorTxt6"></div>
									</div>
									<div class="input-field col s6">
										<input id="nationality" type="text" name="nationality" data-error=".errorTxt7" onblur="divPatientInfoBlur()" class="validate" ng-model="nationality">
										<label for="nationality">Nationality*</label>
										<div class="errorTxt7"></div>
									</div>
									<div class="input-field col s6">
										<input id="language" type="text" name="language" data-error=".errorTxt8" onblur="divPatientInfoBlur()" class="validate" ng-model="language">
										<label for="language">Language*</label>
										<div class="errorTxt8"></div>
									</div>
									<div class="col s6">
										<p>Civil Status*</p>
										<p>
											<input name="group2" type="radio" name="cstatus" data-error=".errorTxt9" onblur="divPatientInfoBlur()" id="cs1" ng-model="civilStatus" ng-value="'Single'"/>
											<label for="cs1">Single</label>
											<br>
											<input name="group2" type="radio" name="cstatus" id="cs2" ng-model="civilStatus" ng-value="'Married'"/>
											<label for="cs2">Married</label>
											<br>
											<input name="group2" type="radio" name="cstatus" id="cs3" ng-model="civilStatus" ng-value="'Widowed'"/>
											<label for="cs3">Widowed</label>
											<br>
											<input name="group2" type="radio" name="cstatus" id="cs4" ng-model="civilStatus" ng-value="'Divorced'"/>
											<label for="cs4">Divorced</label>
										</p>
										<div class="input-field">
											<div class="errorTxt9"></div>
										</div>
									</div>
									<!--<div class="input-field col s2">-->
									<!--<input id="age" type="text" class="validate">-->
									<!--<label for="age">Age</label>-->
									<!--</div>-->

								</div>
								<div class="divider"></div>

								<h5><i class="mdi-communication-quick-contacts-dialer left"></i> Contact
									Information</h5>
								<div class="row">
									<div class="input-field col s2">
										<input id="house_number" type="text" name="house_number" data-error=".errorTxt10" onblur="divPatientInfoBlur()" class="validate numbers" ng-model="houseNumber">
										<label for="house_number">House number*</label>
										<div class="errorTxt10"></div>
									</div>
									<div class="input-field col s6">
										<input id="street" type="text" name="street" data-error=".errorTxt11" onblur="divPatientInfoBlur()" class="validate" ng-model="street">
										<label for="street">Street*</label>
										<div class="errorTxt11"></div>
									</div>
									<div class="input-field col s6">
										<input id="baranggay" type="text" name="baranggay" data-error=".errorTxt12" onblur="divPatientInfoBlur()" class="validate" ng-model="baranggay">
										<label for="baranggay">Baranggay*</label>
										<div class="errorTxt12"></div>
									</div>
									<div class="input-field col s6">
										<input id="city" type="text" name="city" data-error=".errorTxt13" onblur="divPatientInfoBlur()" class="validate" ng-model="city">
										<label for="city">City*</label>
										<div class="errorTxt13"></div>
									</div>
									<div class="input-field col s2">
										<input id="zip_code" type="text" name="zip_code" data-error=".errorTxt14" onblur="divPatientInfoBlur()" class="validate numbers" ng-model="zipCode">
										<label for="zip_code">Zip Code*</label>
										<div class="errorTxt14"></div>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="email" type="email" name="email" data-error=".errorTxt15" onblur="divPatientInfoBlur()" class="validate" ng-model="email">
										<label for="email">Email</label>
										<div class="errorTxt15"></div>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="contact_num" type="text" name="contact_num" data-error=".errorTxt16" onblur="divPatientInfoBlur()" class="validate numbers" ng-model="contactNumber">
										<label for="contact_num">Contact Number</label>
										<div class="errorTxt16"></div>
									</div>
								</div>
								<div class="divider"></div>

								<h5><i class="mdi-communication-contacts left"></i>ID's</h5>
								<div class="card orange lighten-5">
									<div class="card-content orange-text">
										<p>NOTE: Atleast 1 ID required. You can enter 1 or more ID then leave the other ID's blank.</p>
									</div>
								</div>
								<div class="row">
									<div class="col s12">
										SSS ID:
										<div class="input-field inline">
											<input id="idSSS" type="text" name="idSSS" onblur="divPatientInfoBlur()" class="validate ids" ng-model="SSSnumber">
											<label for="idSSS" data-success="right">ID Number</label>
										</div>
									</div>
									<div class="col s12">
										TIN:
										<div class="input-field inline">
											<input id="idTIN" type="text" name="idTIN" onblur="divPatientInfoBlur()" class="validate ids" ng-model="TINnumber">
											<label for="idTIN" data-success="right">ID Number</label>
										</div>
									</div>
									<div class="col s12">
										Driver's Liscense:
										<div class="input-field inline">
											<input id="idDriverlisc" type="text" name="idDriverlisc" onblur="divPatientInfoBlur()" class="validate ids" ng-model="DriversLicenseNumber">
											<label for="idDriverlisc" data-success="right">ID Number</label>
										</div>
									</div>
								</div>
								<div class="divider"></div>

								<h5><i class="mdi-av-new-releases left"></i> Dependency</h5>
								<div id="card-alert" class="card orange lighten-5">
									<div class="card-content orange-text">
										<p>NOTE: Fill-up this section ONLY IF patient is BELOW 18 years old. If not, skip this part.</p>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s6">
										<input id="parent_id" type="email" class="validate">
										<label for="parent_id">Enter Parent's Patient ID</label>
									</div>
								</div>
								<div class="divider"></div>

								<h5><i class="mdi-communication-contacts left"></i>Medical Record</h5>
								<div>
									<div style="margin: 0 auto;">
										<table>
											<tr>
												<th style="text-align: center;"><h5>Past Medical History</h5></th>
												<th style="text-align: center;"><h5>Family Disease</h5></th>
											</tr>
											<tr>
												<td style="border-right: solid; border-color: #9e9e9e;">
													<table>
														<tr>
															<th width="4%">Asthma</th>
															<td width="6%">
																<input name="PastAsthma" type="radio" id="truePastAsthma" ng-model="pastAsthma" ng-value="true" />
																<label for="truePastAsthma">True</label>
																<input name="PastAsthma" type="radio" id="falsePastAsthma" ng-model="pastAsthma" ng-value="false"/>
																<label for="falsePastAsthma">False</label>
															</td>
														</tr>
														<tr>
															<th>Hypertension</th>
															<td>
																<input name="PastHyper" type="radio" id="truePastHyper" ng-model="pastHypertension" ng-value="true"/>
																<label for="truePastHyper">True</label>
																<input name="PastHyper" type="radio" id="falsePastHyper" ng-model="pastHypertension" ng-value="false"/>
																<label for="falsePastHyper">False</label>
															</td>
														</tr>
														<tr>
															<th>CVA</th>
															<td>
																<input name="PastCVA" type="radio" id="truePastCVA" ng-model="pastCVA" ng-value="true"/>
																<label for="truePastCVA">True</label>
																<input name="PastCVA" type="radio" id="falsePastCVA" ng-model="pastCVA" ng-value="false"/>
																<label for="falsePastCVA">False</label>
															</td>
														</tr>
														<tr> <!-- -->
															<th>Diabetes</th>
															<td>
																<input name="PastDiabetes" type="radio" id="truePastDiabetes" ng-model="pastDiabetes" ng-value="true"/>
																<label for="truePastDiabetes">True</label>
																<input name="PastDiabetes" type="radio" id="falsePastDiabetes" ng-model="pastDiabetes" ng-value="false"/>
																<label for="falsePastDiabetes">False</label>
															</td>
														</tr>
														<tr>
															<th>Cancer</th>
															<td>
																<input name="PastCancer" type="radio" id="truePastCancer" ng-model="pastCancer" ng-value="true"/>
																<label for="truePastCancer">True</label>
																<input name="PastCancer" type="radio" id="falsePastCancer" ng-model="pastCancer" ng-value="false"/>
																<label for="falsePastCancer">False</label>
															</td>
														</tr>
														<tr>
															<th>Heart Disease</th>
															<td>
																<input name="PastHeartD" type="radio" id="truePastHeartD" ng-model="pastHypertension" ng-value="true"/>
																<label for="truePastHeartD">True</label>
																<input name="PastHeartD" type="radio" id="falsePastHeartD" ng-model="pastHypertension" ng-value="false"/>
																<label for="falsePastHeartD">False</label>
															</td>
														</tr>
														<tr>
															<th>Lung Disease</th>
															<td>
																<input name="PastLungD" type="radio" id="truePastLungD" ng-model="pastHeartDisease" ng-value="true"/>
																<label for="truePastLungD">True</label>
																<input name="PastLungD" type="radio" id="falsePastLungD" ng-model="pastHeartDisease" ng-value="false"/>
																<label for="falsePastLungD">False</label>
															</td>
														</tr>
														<tr>
															<th>Liver Disease</th>
															<td>
																<input name="PastLiverD" type="radio" id="truePastLiverD" ng-model="pastLiverDisease" ng-value="true"/>
																<label for="truePastLiverD">True</label>
																<input name="PastLiverD" type="radio" id="falsePastLiverD" ng-model="pastLiverDisease" ng-value="false"/>
																<label for="falsePastLiverD">False</label>
															</td>
														</tr>
														<tr>
															<th>Kidney Disease</th>
															<td>
																<input name="PastKidneyD" type="radio" id="truePastKidneyD" ng-model="pastKidneyDisease" ng-value="true"/>
																<label for="truePastKidneyD">True</label>
																<input name="PastKidneyD" type="radio" id="falsePastKidneyD" ng-model="pastKidneyDisease" ng-value="false"/>
																<label for="falsePastKidneyD">False</label>
															</td>
														</tr>

													</table>
												</td>
												<td>
													<table>
														<tr>
															<th width="4%">Asthma</th>
															<td width="6%">
																<input name="FamilyAsthma" type="radio" id="trueFamilyAsthma" ng-model="familyAsthma" ng-value="true" />
																<label for="trueFamilyAsthma">True</label>
																<input name="FamilyAsthma" type="radio" id="falseFamilyAsthma" ng-model="familyAsthma" ng-value="false" />
																<label for="falseFamilyAsthma">False</label>
															</td>
														</tr>
														<tr>
															<th>Hypertension</th>
															<td>
																<input name="FamilyHyper" type="radio" id="trueFamilyHyper" ng-model="familyHypertension" ng-value="true"/>
																<label for="trueFamilyHyper">True</label>
																<input name="FamilyHyper" type="radio" id="falseFamilyHyper" ng-model="familyHypertension" ng-value="false" />
																<label for="falseFamilyHyper">False</label>
															</td>
														</tr>
														<tr>
															<th>CVA</th>
															<td>
																<input name="FamilyCVA" type="radio" id="trueFamilyCVA" ng-model="familyAsthma" ng-value="true"/>
																<label for="trueFamilyCVA">True</label>
																<input name="FamilyCVA" type="radio" id="falseFamilyCVA" ng-model="familyCVA" ng-value="false"/>
																<label for="falseFamilyCVA">False</label>
															</td>
														</tr>
														<tr> <!-- -->
															<th>Diabetes</th>
															<td>
																<input name="FamilyDiabetes" type="radio" id="trueFamilyDiabetes" ng-model="familyDiabetes" ng-value="true" />
																<label for="trueFamilyDiabetes">True</label>
																<input name="FamilyDiabetes" type="radio" id="falseFamilyDiabetes" ng-model="familyDiabetes" ng-value="false" />
																<label for="falseFamilyDiabetes">False</label>
															</td>
														</tr>
														<tr>
															<th>Cancer</th>
															<td>
																<input name="FamilyCancer" type="radio" id="trueFamilyCancer" ng-model="familyCancer" ng-value="true"/>
																<label for="trueFamilyCancer">True</label>
																<input name="FamilyCancer" type="radio" id="falseFamilyCancer" ng-model="familyCancer" ng-value="false"/>
																<label for="falseFamilyCancer">False</label>
															</td>
														</tr>
														<tr>
															<th>Heart Disease</th>
															<td>
																<input name="FamilyHeartD" type="radio" id="trueFamilyHeartD" ng-model="familyHeartDisease" ng-value="true"/>
																<label for="trueFamilyHeartD">True</label>
																<input name="FamilyHeartD" type="radio" id="falseFamilyHeartD" ng-model="familyHeartDisease" ng-value="false"/>
																<label for="falseFamilyHeartD">False</label>
															</td>
														</tr>
														<tr>
															<th>Lung Disease</th>
															<td>
																<input name="FamilyLungD" type="radio" id="trueFamilyLungD" ng-model="familyLungDisease" ng-value="true"/>
																<label for="trueFamilyLungD">True</label>
																<input name="FamilyLungD" type="radio" id="falseFamilyLungD" ng-model="familyLungDisease" ng-value="false"/>
																<label for="falseFamilyLungD">False</label>
															</td>
														</tr>
														<tr>
															<th>Liver Disease</th>
															<td>
																<input name="FamilyLiverD" type="radio" id="trueFamilyLiverD" ng-model="familyLiverDisease" ng-value="true"/>
																<label for="trueFamilyLiverD">True</label>
																<input name="FamilyLiverD" type="radio" id="falseFamilyLiverD" ng-model="familyLiverDisease" ng-value="false"/>
																<label for="falseFamilyLiverD">False</label>
															</td>
														</tr>
														<tr>
															<th>Kidney Disease</th>
															<td>
																<input name="FamilyKidneyD" type="radio" id="trueFamilyKidneyD" ng-model="familyKidneyDisease" ng-value="true"/>
																<label for="trueFamilyKidneyD">True</label>
																<input name="FamilyKidneyD" type="radio" id="falseFamilyKidneyD" ng-model="familyKidneyDisease" ng-value="false"/>
																<label for="falseFamilyKidneyD">False</label>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</div>
									<style>
										#tblImmunization th,td{
											text-align: center;
										}
									</style>

									<div style="margin: 0 auto;">
										<table>
											<tr>
												<th style="text-align: center;"><h5>Immunizations</h5></th>
											</tr>
											<tr>
												<td>
													<table id="tblImmunization">
														<tr>
															<th>Bacille Calmette Guerin</th>
															<td>
																<input name="ImmuBacille" type="radio" id="trueImmuBacille" ng-model="immuBacilleCalmetteGuerin" ng-value="true"/>
																<label for="trueImmuBacille">True</label>
																<input name="ImmuBacille" type="radio" id="falseImmuBacille" ng-model="immuBacilleCalmetteGuerin" ng-value="false"/>
																<label for="falseImmuBacille">False</label>
															</td>
														</tr>
														<tr>
															<th>Chickenpox Vaccine</th>
															<td>
																<input name="ImmuChickenpox" type="radio" id="trueImmuChickenpox" ng-model="immuChickenpoxVaccine" ng-value="true"/>
																<label for="trueImmuChickenpox">True</label>
																<input name="ImmuChickenpox" type="radio" id="falseImmuChickenpox" ng-model="immuChickenpoxVaccine" ng-value="false"/>
																<label for="falseImmuChickenpox">False</label>
															</td>
														</tr>
														<tr>
															<th>Diptheria</th>
															<td>
																<input name="ImmuDiptheria" type="radio" id="trueImmuDiptheria" ng-model="immuDiptheria" ng-value="true"/>
																<label for="trueImmuDiptheria">True</label>
																<input name="ImmuDiptheria" type="radio" id="falseImmuDiptheria" ng-model="immuDiptheria" ng-value="false"/>
																<label for="falseImmuDiptheria">False</label>
															</td>
														</tr>
														<tr>
															<th>Hepatitis A Vaccine</th>
															<td>
																<input name="ImmuHepa-A" type="radio" id="trueImmuHepa-A" ng-model="immuHepatitisAVaccine" ng-value="true"/>
																<label for="trueImmuHepa-A">True</label>
																<input name="ImmuHepa-A" type="radio" id="falseImmuHepa-A" ng-model="immuHepatitisAVaccine" ng-value="false"/>
																<label for="falseImmuHepa-A">False</label>
															</td>
														</tr>
														<tr>
															<th>Hepatitis B Vaccine</th>
															<td>
																<input name="ImmuHepa-B" type="radio" id="trueImmuHepa-B" ng-model="immuHepatitisBVaccine" ng-value="true"/>
																<label for="trueImmuHepa-B">True</label>
																<input name="ImmuHepa-B" type="radio" id="falseImmuHepa-B" ng-model="immuHepatitisBVaccine" ng-value="false"/>
																<label for="falseImmuHepa-B">False</label>
															</td>
														</tr>
														<tr>
															<th>Hib Vaccine</th>
															<td>
																<input name="ImmuHib" type="radio" id="trueImmuHib" ng-model="immuHibVaccine" ng-value="true"/>
																<label for="trueImmuHib">True</label>
																<input name="ImmuHib" type="radio" id="falseImmuHib" ng-model="immuHibVaccine" ng-value="false"/>
																<label for="falseImmuHib">False</label>
															</td>
														</tr>
														<tr>
															<th>Human Papilloma Virus</th>
															<td>
																<input name="ImmuHumamPapilloma" type="radio" id="trueImmuHumamPapilloma" ng-model="immuHumanPapillomaVirus" ng-value="true"/>
																<label for="trueImmuHumamPapilloma">True</label>
																<input name="ImmuHumamPapilloma" type="radio" id="falseImmuHumamPapilloma" ng-model="immuHumanPapillomaVirus" ng-value="false" />
																<label for="falseImmuHumamPapilloma">False</label>
															</td>
														</tr>
														<tr>
															<th>Influenza Vaccine</th>
															<td>
																<input name="ImmuInfluenza" type="radio" id="trueImmuInfluenza" ng-model="immuInfluenzaVaccine" ng-value="true" />
																<label for="trueImmuInfluenza">True</label>
																<input name="ImmuInfluenza" type="radio" id="falseImmuInfluenza" ng-model="immuInfluenzaVaccine" ng-value="false"/>
																<label for="falseImmuInfluenza">False</label>
															</td>
														</tr>
														<tr>
															<th>Measles</th>
															<td>
																<input name="ImmuMeasles" type="radio" id="trueImmuMeasles" ng-model="immuMeasles" ng-value="true"/>
																<label for="trueImmuMeasles">True</label>
																<input name="ImmuMeasles" type="radio" id="falseImmuMeasles" ng-model="immuMeasles" ng-value="false"/>
																<label for="falseImmuMeasles">False</label>
															</td>
														</tr>
														<tr>
															<th>Tetanus</th>
															<td>
																<input name="ImmuTetanus" type="radio" id="trueImmuTetanus" ng-model="immuTetanus" ng-value="true"/>
																<label for="trueImmuTetanus">True</label>
																<input name="ImmuTetanus" type="radio" id="falseImmuTetanus" ng-model="immuTetanus" ng-value="false"/>
																<label for="falseImmuTetanus">False</label>
															</td>
														</tr>
														<tr>
															<th>Pertussis Vaccine</th>
															<td>
																<input name="ImmuPertussis" type="radio" id="trueImmuPertussis" ng-model="immuPertussisVaccine" ng-value="true"/>
																<label for="trueImmuPertussis">True</label>
																<input name="ImmuPertussis" type="radio" id="falseImmuPertussis" ng-model="immuPertussisVaccine" ng-value="false"/>
																<label for="falseImmuPertussis">False</label>
															</td>
														</tr>
														<tr>
															<th>Mumps</th>
															<td>
																<input name="ImmuMumps" type="radio" id="trueImmuMumps" ng-model="immuMumps" ng-value="true"/>
																<label for="trueImmuMumps">True</label>
																<input name="ImmuMumps" type="radio" id="falseImmuMumps" ng-model="immuMumps" ng-value="false"/>
																<label for="falseImmuMumps">False</label>
															</td>
														</tr>
														<tr>
															<th>Rubella Vaccine</th>
															<td>
																<input name="ImmuRubella" type="radio" id="trueImmuRubella" ng-model="immuRubellaVaccine" ng-value="true"/>
																<label for="trueImmuRubella">True</label>
																<input name="ImmuRubella" type="radio" id="falseImmuRubella" ng-model="immuRubellaVaccine" ng-value="false"/>
																<label for="falseImmuRubella">False</label>
															</td>
														</tr>
														<tr>
															<th>Mengincoccal Vaccine</th>
															<td>
																<input name="ImmuMengincoccal" type="radio" id="trueImmuMengincoccal" ng-model="immuMengincoccalVaccine" ng-value="true"/>
																<label for="trueImmuMengincoccal">True</label>
																<input name="ImmuMengincoccal" type="radio" id="falseImmuMengincoccal" ng-model="immuMengincoccalVaccine" ng-value="false"/>
																<label for="falseImmuMengincoccal">False</label>
															</td>
														</tr>
														<tr>
															<th>Pneumococcal Vaccine</th>
															<td>
																<input name="ImmuPneumococcal" type="radio" id="trueImmuPneumococcal" ng-model="immuPneumococcalVaccine" ng-value="true"/>
																<label for="trueImmuPneumococcal">True</label>
																<input name="ImmuPneumococcal" type="radio" id="falseImmuPneumococcal" ng-model="immuPneumococcalVaccine" ng-value="false"/>
																<label for="falseImmuPneumococcal">False</label>
															</td>
														</tr>
														<tr>
															<th>Polio Vaccine</th>
															<td>
																<input name="ImmuPolio" type="radio" id="trueImmuPolio" ng-model="immuPolioVaccine" ng-value="true"/>
																<label for="trueImmuPolio">True</label>
																<input name="ImmuPolio" type="radio" id="falseImmuPolio" ng-model="immuPolioVaccine" ng-value="false"/>
																<label for="falseImmuPolio">False</label>
															</td>
														</tr>
														<tr>
															<th>Rotarus Vaccine</th>
															<td>
																<input name="ImmuRotarus" type="radio" id="trueImmuRotarus" ng-model="immuRotarusVaccine" ng-value="true"/>
																<label for="trueImmuRotarus">True</label>
																<input name="ImmuRotarus" type="radio" id="falseImmuRotarus" ng-model="immuRotarusVaccine" ng-value="false"/>
																<label for="falseImmuRotarus">False</label>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</div>

								</div>

							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button href="" class="modal-action modal-close waves-effect waves-green   btn-flat" ng-click="testDate()">Cancel</button>
						<button href="" class="modal-action modal-close waves-effect waves-green btnAddPatient  btn-flat" ng-click="addPatient()" id="btnPtntProfSubmit">Add</button>
					</div>
				</div>
				<script>
					$(document).ready(function(){
						// the "href" attribute of .modal-trigger must specify the modal ID that   wants to be triggered
						$('.modal-trigger').leanModal();
					});
				</script>
			</div>

			<div style="margin: auto; width: 80%;" class="row">
				<div class="input-field col s10">
					<i class="mdi-action-search prefix "></i>
					<input id="icon_prefix" type="text" class="validate" ng-model="search">
					<label for="icon_prefix">Search Patient</label>
				</div>
				<table class="col s10">
					<thead>
					<tr>
						<th width="35%">Patient name</th>
						<th width="35%">Address</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr dir-paginate="patient in patients | orderBy: 'lastName' | filter: search | itemsPerPage: 5">
						<td>{{patient.lastName + ", " + patient.firstName + " " + patient.middleName}}</td>
						<td>{{patient.houseNumber + " " + patient.street + " " + patient.baranggay + " " + patient.city}}</td>
						<td>
							<button class="handled waves-effect waves-light btn btnpad"
									ng-click="handle(patient)" ng-hide="patient.handled">Handle</button> <!-- Add class handled if validated --> <!---->
							<div ng-hide="!patient.handled"><span style="color:#034106;">Handled by:<br>{{patient.handleBy}}</span></div>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="col s10">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
		</div>
	</form>
	<!--<script>
        $('.btnAddPatient').click(function(){
            swal("Success!", "Patient successfully added.", "success");
            //swal("Failed", "??!", "error");
        });

    </script>-->
	<script>
		//$('#btnPtntProfSubmit').prop('disabled', 'disabled');
		$(document).ready(function(){
			$('#btnPtntProfSubmit').prop('disabled', true);
		});

		function divPatientInfoBlur(){
			//alert("aaahkkkk");
			if ($("#formValidate").valid()) {
				$('#btnPtntProfSubmit').prop('disabled', false);
			} else {
				$('#btnPtntProfSubmit').prop('disabled', true);
			}
		}

		jQuery.validator.addMethod("lettersonly", function(value, element) {
			return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
		},"Letters only please!");
		jQuery.validator.addMethod("dashForID", function(value, element) {
			return this.optional(element) || /^\d+(-\d+)*$/.test(value);
		},"ID format should be numbers and hyphens only eg: 11-1111");
		//asd
		$("#formValidate").validate({
			rules: {
				first_name: {
					required: true,
					minlength: 2,
					lettersonly: true
				},
				middle_name: {
					required: true,
					minlength: 2,
					lettersonly: true
				},
				last_name: {
					required: true,
					minlength: 2,
					lettersonly: true
				},
				cgender:"required",
				cstatus:"required",
				religion: {
					required: true,
					minlength: 2,
					lettersonly: true
				},
				nationality: {
					required: true,
					minlength: 2,
					lettersonly: true
				},
				language: {
					required: true,
					lettersonly: true
				},
				house_number: {
					required: true,
					number: true
				},
				street: {
					required: true
				},
				bdate: {
					required: true
				},
				baranggay: {
					required: true
				},
				city: {
					required: true
				},
				zip_code: {
					required: true,
					minlength: 4,
					number: true
				},
				email: {
					required: false,
					email:true
				},
				contact_num: {
					required: true,
					minlength: 7,
					number: true
				},
				age: {
					required: true,
					number: true
				},
				idSSS: {
					require_from_group: [1, '.ids'],
					dashForID: true
				},
				idTIN: {
					require_from_group: [1, '.ids'],
					dashForID: true
				},
				idDriverlisc: {
					require_from_group: [1, '.ids'],
					dashForID: true
				}
			},
			//custom messages
			messages: {
				first_name:{
					required: "Please enter a name."
				},
				middle_name: {
					required: "Please enter your middle name."
				},
				last_name: {
					required: "Please enterr your last name."
				},
				house_number: {
					required: "Please enter a number.",
					number: "Numbers only please!"
				},
				zip_code: {
					required: "Please enter a number.",
					number: "Numbers only please!"
				},
				email: {
					email: "Please enter a valid email address."
				},
				contact_num: {
					required: "Please enter a number.",
					number: "Numbers only please!"
				},
				idSSS: {
					required: "Please enter atleast 1 ID"
				},
				idTIN: {
					required: "Please enter atleast 1 ID"
				},
				idDriverlisc: {
					required: "Please enter atleast 1 ID"
				}
			},
			errorElement : 'div',
			errorPlacement: function(error, element) {
				var placement = $(element).data('error');
				if (placement) {
					$(placement).append(error)
				} else {
					error.insertAfter(element);
				}
			}
		});
		jQuery('.numbers').keyup(function () {
			this.value = this.value.replace(/[^0-9\.]/g,'');
		});

	</script>
</div>