<style>
	#map {
		height: 400px;
		width: 85%;
		margin: 0 auto;
	}
</style>
<div class="container" ng-controller="dashboardController">
	<div id="profile-page" class="section">
		<!-- profile-page-header -->
		<div id="profile-page-header" class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/user-profile-bg-3.jpg" alt="user background">
			</div>
			<figure class="card-profile-image">
				<img src="images/profile-male.png" alt="profile image" class="circle z-depth-2 responsive-img activator">
			</figure>
			<div class="card-content">
				<div class="row">
					<div class="col s3 offset-s2">
						<h4 class="card-title grey-text text-darken-4">{{doctor.firstName + " " + doctor.middleName + " " + doctor.lastName + " M.D."}}</h4>
						<p class="medium-small grey-text">Doctor</p>
					</div>
					<div class="col s3 center-align">
						<h4 class="card-title grey-text text-darken-4">{{doctor.expertise}}</h4>
						<p class="medium-small grey-text">Specialty</p>
					</div>
					<div class="col s3 center-align">
						<h4 class="card-title grey-text text-darken-4">{{doctor.created_at | date:"MM/dd/yyyy"}}</h4>
						<p class="medium-small grey-text">Account Created on</p>
					</div>
					<div class="col s1 right-align">
						<a class="btn-floating activator waves-effect waves-light darken-2 right">
							<i class="mdi-editor-border-color tiny" style="font-size: 1rem;"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--/ profile-page-header -->

	</div>
	<div class="card-panel">
		<table style="width:85%; margin: 0 auto">
			<thead>
			<tr>
				<th width="50%">Doctor ID</th>
				<td>{{doctor.doctor_Id}}</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>First Name</th>
				<td>{{doctor.firstName}}</td>
			</tr>
			<tr>
				<th>Middle Name</th>
				<td>{{doctor.middleName}}</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>{{doctor.lastName}}</td>
			</tr>
			<tr>
				<th>Gender</th>
				<td>{{doctor.gender}}</td>
			</tr>
			<tr>
				<th>Birth Date</th>
				<td>{{doctor.birthDate | date:'longDate'}}</td>
			</tr>
			<tr>
				<th>Expertise</th>
				<td>{{doctor.expertise}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{doctor.email}}</td>
			</tr>
			<tr>
				<th>Contact Number</th>
				<td>{{doctor.contactNumber}}</td>
			</tr>
			<tr>
			<tr>
				<th>Medical Institutions</th>
				<td></td>
			</tr>
			</tbody>
		</table>
		<div id="map"></div>
		<script>
			function initMap() {
				var uluru = {lat: 14.6361, lng: 121.0984};
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 17,
					center: uluru
				});
				var marker = new google.maps.Marker({
					position: uluru,
					map: map
				});
			}
		</script>
		<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP3Hy06EbFIzhNnpZARL7CiTp6l01d5rA&callback=initMap">
		</script>
	</div>
</div>