.btnpad{
    padding-left: 15px;
    padding-right: 15px;
}
input[disabled] {
    color: black;
    -webkit-text-fill-color: black;
}
#divMedRec th:empty {display: none}
body.modal-open div.modal-backdrop {
    z-index: 0;
}