<!DOCTYPE html>
<html lang="en" ng-app="sourceMedApp">

<head>
    <title>Source Medical</title>
    <base href="/">
    <!-- Favicons-->
    <link rel="icon" href="images/sm-tab-icon-01.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->


    <!-- CORE CSS-->

    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style2.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/wfmi-style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="css/validation.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>

    <!-- jQuery plugins -->
    <script type="text/javascript" src="js/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="js/plugins/jquery-validation/additional-methods.js"></script>
    <script type="text/javascript" src="js/plugins/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="js/updateHTMLValidation.js"></script>
    <script type="text/javascript" src="js/update-script.js"></script>


</head>

<body class="#f1f8e9 light-green lighten-5" ng-controller="pastMEdChartController">
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->

<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<table>
    <tbody>
        <tr>
            <td width="50%">
                <div class="card-panel" style="width: 100%; margin: 50px auto;">
                    <div class="row">
                        <h5>Orders by: {{orderWrapper.createdBy}}</h5>
                        <div class="input-field col s8">
                            <i class="mdi-action-note-add prefix"></i>
                            <input id="add_order" type="text" class="validate" ng-model="order">
                            <label for="add_order">Enter new order</label>
                        </div>
                        <div class="input-field col s4">
                            <a class="waves-effect waves-light btn btnpad" ng-click="addOrder()">Add new order<i class="mdi-content-add left"></i></a>
                        </div>
                    </div>
                    <div class="row"><!--DIR PAGINATE DITO-->
                        <table>
                            <thead>
                            <tr>
                                <th>Orders</th>
                                <th>Created At</th>
                                <th>Status</th>
                                <th width="30%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="order in orders | orderBy: 'creationDate' | filter: search | itemsPerPage: 5">
                                <td>{{order.order}}</td>
                                <td>{{order.creationDate | date: 'shortTime'}}</td>
                                <td>{{order.status}}</td>
                                <td>
                                    <a class=" modal-trigger waves-effect waves-light btn btnpad" ng-click="handleOrder(order)" ng-hide="order.completed">Handle<i class="mdi-content-add left"></i></a>
                                    <a class="waves-effect waves-light btn btnpad" ng-click="removeOrder(order.orderId)" ng-hide="order.completed">Remove<i class="mdi-content-remove left"></i></a>
                                    <div ng-hide="!order.completed">By: {{order.completedBy}}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<div id="handleOrder" class="modal modal-fixed-footer">-->
                            <!--<div class="modal-content #f1f8e9 light-green lighten-5">-->
                                <!--<div class="card-panel">-->
                                    <!--<h4><i class="mdi-content-add-circle-outline"></i>Handle order</h4>-->
                                    <!--<div class="">-->
                                        <!--<div class="divider"></div>-->
                                        <!--<div class="row">-->
                                            <!--<div class="input-field col s12">-->
                                                <!--<textarea id="txtProcedure" type="text" class="materialize-textarea validate"></textarea>-->
                                                <!--<label for="txtProcedure">Procedure</label>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="row">-->
                                            <!--<div class="input-field col s12">-->
                                                <!--<textarea id="txtNotes" type="text" class="materialize-textarea validate"></textarea>-->
                                                <!--<label for="txtNotes">Notes</label>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<a href="" class="modal-action modal-close waves-effect waves-green   btn-flat">Cancel</a>-->
                                <!--<a href="" class="modal-action modal-close waves-effect waves-green   btn-flat">Submit</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </td>
            <td width="50%">
                <div class="card-panel" style="width: 100%; margin: 50px auto;">
                    <h5>Order: {{handleTitle}}</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <select onchange="dropDownChanged()" id="handleDropDown">
                                <option value="" disabled selected>Category</option>
                                <option value="1">Operation/Surgical</option>
                                <option value="2">Laboratory Tests</option>
                                <option value="3">Medications</option>
                            </select>
                            <label>Order category</label>
                        </div>
                        <div class="row">
                            <div class="row" id="divTxtProcedure">
                                <div class="input-field col s12" >
                                    <input id="txtProcedure" type="text" class="materialize-textarea validate" ng-model="procedure">
                                    <label for="txtProcedure">Procedure</label>
                                </div>
                            </div>
                            <div class="row" id="divTxtLabTestType">
                                <div class="input-field col s12" >
                                    <input id="txtLabTestType" type="text" class="materialize-textarea validate" ng-model="laboratory">
                                    <label for="txtLabTestType">Type of Laboratory Test</label>
                                </div>
                            </div>
                            <div class="row" id="divTxtMedicine">
                                <div class="input-field col s12" >
                                    <input id="txtMedicine" type="text" class="materialize-textarea validate" ng-model="medication">
                                    <label for="txtMedicine">Medicine</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="txtNotes" type="text" class="materialize-textarea validate"></textarea>
                                    <label for="txtNotes">Notes</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="waves-effect waves-light right btn btnpad" ng-click="submitHandle()">Submit<i class="mdi-content-send right"></i></button>
                        </div>

                    </div>
                </div>
            </td>
            </td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function(){
        hideAllTextbox();
    });

    function hideAllTextbox(){
        $("#divTxtProcedure").hide();
        $("#divTxtLabTestType").hide();
        $("#divTxtMedicine").hide();
    }

    function dropDownChanged(){
        if($('#handleDropDown option:selected').text() == "Operation/Surgical"){
            hideAllTextbox();
            $("#divTxtProcedure").show();
        }
        if($('#handleDropDown option:selected').text() == "Laboratory Tests"){
            hideAllTextbox();
            $("#divTxtLabTestType").show();
        }
        if($('#handleDropDown option:selected').text() == "Medications"){
            hideAllTextbox();
            $("#divTxtMedicine").show();
        }

    }
</script>

<!-- END MAIN -->




<!-- ================================================
Scripts
================================================ -->




</body>
<!-- Angular -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-cookies.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>

<script type="text/javascript" src="js/dirPagination.js"></script>
<script type="text/javascript" src="source-medical/sourcemed.js"></script>
<script type="text/javascript" src="source-medical/login.module.js"></script>
<script type="text/javascript" src="source-medical/login.controller.js"></script>
<script type="text/javascript" src="source-medical/login.service.js"></script>
<script type="text/javascript" src="source-medical/date.service.js"></script>
<script type="text/javascript" src="source-medical/doctor-dashboard.controller.js"></script>
<script type="text/javascript" src="source-medical/pastMedicalChart.controller.js"></script>
<script type="text/javascript" src="source-medical/patient.controller.js"></script>

</html>