<!DOCTYPE html>
<html lang="en" ng-app="sourceMedApp">

<head>
	<title>Source Medical</title>
	<base href="/">
	<!-- Favicons-->
	<link rel="icon" href="images/sm-tab-icon-01.png" sizes="32x32">
	<!-- Favicons-->
	<link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
	<!-- For iPhone -->
	<meta name="msapplication-TileColor" content="#00bcd4">
	<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
	<!-- For Windows Phone -->


	<!-- CORE CSS-->

	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="css/style2.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="css/wfmi-style.css" type="text/css" rel="stylesheet" media="screen,projection">
	<!-- Custome CSS-->
	<link href="css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">


	<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
	<link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="js/plugins/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">

	<link href="css/validation.css" type="text/css" rel="stylesheet" media="screen,projection">

	<!-- jQuery Library -->
	<script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>
	<!--materialize js-->
	<script type="text/javascript" src="js/materialize.js"></script>
	<!--prism-->
	<script type="text/javascript" src="js/plugins/prism/prism.js"></script>
	<!--scrollbar-->
	<script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<!--plugins.js - Some Specific JS codes for Plugin Settings-->
	<script type="text/javascript" src="js/plugins.min.js"></script>
	<!--custom-script.js - Add your own theme custom JS-->
	<script type="text/javascript" src="js/custom-script.js"></script>

	<!-- jQuery plugins -->
	<script type="text/javascript" src="js/plugins/jquery-validation/jquery.validate.js"></script>
	<script type="text/javascript" src="js/plugins/jquery-validation/additional-methods.js"></script>
	<script type="text/javascript" src="js/plugins/sweetalert/dist/sweetalert.min.js"></script>

	<script type="text/javascript" src="js/updateHTMLValidation.js"></script>
	<script type="text/javascript" src="js/update-script.js"></script>


</head>

<body class="#f1f8e9 light-green lighten-5">
<!-- Start Page Loading -->
<div id="loader-wrapper">
	<div id="loader"></div>
	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->
<header id="header" class="page-topbar" ng-controller="dashboardController">
	<!-- start header nav-->
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper" style="background-color: #96ff99;">
				<a href="#!" class="brand-logo center brand"><div style="width: 292px; height: 35px; margin-top: 5px;"><img src="images/source-med3.png" style="width: 100%; height: 100%;"></div></a>

			</div>
		</nav>
	</div>
	<!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<div id="main">
	<!-- START WRAPPER -->
	<div class="wrapper">

		<!-- START LEFT SIDEBAR NAV-->
		<aside id="left-sidebar-nav">
			<ul id="slide-out" class="side-nav fixed leftside-navigation">
				<li class="user-details cyan darken-2">
					<div class="row">
						<div class="col col s4 m4 l4">
							<img src="images/profile-male.png" alt="" class="circle responsive-img valign profile-image">
						</div>
						<div class="col col s8 m8 l8">
							<a class="btn-flat waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{"Dr. "+ doctor.lastName + ", " + doctor.firstName}}</a>
							<p class="user-roal">{{doctor.expertise}}</p>
						</div>
					</div>
				</li>
				<li class="bold"><a href="Profile" class="waves-effect waves-cyan"><i
						class="mdi-social-person"></i> My Profile</a></li>
				<li class="no-padding">
					<ul class="collapsible collapsible-accordion">
						<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i
								class="mdi-maps-local-hospital"></i> Patients</a>
							<div class="collapsible-body">
								<ul>
									<li><a href="SearchPatient">Search for patient</a>
									</li>
									<li><a href="LeadByMe" ng-click="medChart()">Lead by me</a>
									</li>
									<li><a href="AttendedByMe" ng-click="viewPatientsAttended()">Attended by me</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i
						class="fa fa-stethoscope"></i> Doctors</a></li>
				<li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i
						class="fa fa-user-md"></i> Medical Residents</a></li>
				<li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i
						class="fa fa-flask"></i> Laboratory Personnels</a></li>
				<li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i
						class="medical-icon-i-care-staff-area"></i> Nurses</a></li>
				<li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i
						class="mdi-social-domain"></i> Medical Institution</a></li>
				<div class="divider"></div>
				<li><a href="#"><i class="mdi-hardware-keyboard-tab" ng-click="logout()"></i> Logout</a>
				</li>
			</ul>
			<a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
		</aside>
		<!-- END LEFT SIDEBAR NAV-->

		<!-- //////////////////////////////////////////////////////////////////////////// -->

		<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

		<!-- START CONTENT -->
		<section id="content" >
			<!--start container-->
			<div class="container">
				<!--<div class="row">
                    <h1>Results:</h1>
                    <p>{{patients}}</p>
                </div>-->




				<div ng-view>

				</div>
			</div>
			<!--end container-->
		</section>
		<!-- END CONTENT -->

	</div>
	<!-- END WRAPPER -->

</div>
<!-- END MAIN -->




<!-- ================================================
Scripts
================================================ -->




</body>
<!-- Angular -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-cookies.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>

<script type="text/javascript" src="js/dirPagination.js"></script>
<script type="text/javascript" src="source-medical/sourcemed.js"></script>
<script type="text/javascript" src="source-medical/login.module.js"></script>
<script type="text/javascript" src="source-medical/login.controller.js"></script>
<script type="text/javascript" src="source-medical/login.service.js"></script>
<script type="text/javascript" src="source-medical/date.service.js"></script>
<script type="text/javascript" src="source-medical/doctor-dashboard.controller.js"></script>
<script type="text/javascript" src="source-medical/patient.controller.js"></script>

</html>