<!DOCTYPE html>
<html lang="en" ng-app="sourceMedApp">

<head>
    <title>Source Medical</title>
    <base href="/">
    <!-- Favicons-->
    <link rel="icon" href="images/sm-tab-icon-01.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->


    <!-- CORE CSS-->

    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style2.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/wfmi-style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="css/validation.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>

    <!-- jQuery plugins -->
    <script type="text/javascript" src="js/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="js/plugins/jquery-validation/additional-methods.js"></script>
    <script type="text/javascript" src="js/plugins/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="js/updateHTMLValidation.js"></script>
    <script type="text/javascript" src="js/update-script.js"></script>


</head>

<body class="#f1f8e9 light-green lighten-5" ng-controller="pastMEdChartController">
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->

<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<div class="card-panel" style="width: 70%; margin: 50px auto;">
    <div style="width: 50%; margin: 20px auto;">
        <h4 class="center-align" style="margin-bottom: 0px;">[Medical Institution]</h4>
        <p class="center-align" style="margin: 0px;">[Bldg # Street, Brgy, City, Philippines]</p>
        <p class="center-align" style="margin: 0px;">[Medical chart date]</p>
    </div>
    <div style="width: 50%; margin: 0 auto;">
        <img class="responsive-img" src="images/profile-male.png" style="margin: auto; display: block; max-width: 50%;">
        <h5 class="center-align" style="margin-bottom: 0px;">{{viewPatient.firstName + " " + viewPatient.middleName+ " " + viewPatient.lastName }}</h5>
        <p class="center-align" style="margin: 0px;">{{viewPatient.gender}}</p>
        <p class="center-align" style="margin: 0px;">{{viewPatient.baranggay}}</p>
</div>
    <div class="card-panel #dcedc8 light-green lighten-4" style="width: 90%; margin: 20px auto; padding: 10px;">
        <h5>Lab Results</h5>
        <table class="striped">
            <thead>
            <tr>
                <th width="40%">Laboratory Test Type</th>
                <th width="40%">Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>asd</td>
                <td>asd</td>
                <td><button class="waves-effect waves-light btn btnpad">Result</button></td>
            </tr>
            <tr>
                <td>qwe</td>
                <td>qwe</td>
                <td><button class="waves-effect waves-light btn btnpad">Result</button></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card-panel #dcedc8 light-green lighten-4" style="width: 90%; margin: 20px auto; padding: 10px;">
        <h5>Vital Signs</h5>
        <table>
            <tbody>
            <tr dir-paginate="patientVitalSign in patientVitalSigns | itemsPerPage: 5">
                <td style="padding: 0px;">
                    <div class="card-panel #e8f5e9 green lighten-5" style="width: 95%; margin: 10px auto;">
                        <table class="striped">
                            <thead>
                            <tr>
                                <th width="40%" rowspan="2">Date: {{patientVitalSign.collectionDate | date:'medium'}}<br>Doctor ID: {{patientVitalSign.contributor_ID}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Blood Pressure</th>
                                <td>{{patientVitalSign.bloodPressure}}</td>

                            </tr>
                            <tr>
                                <th>Temperature in Celcius</th>
                                <td>{{patientVitalSign.temperatureCelcius}}</td>
                            </tr>
                            <tr>
                                <th>Pulse per minute</th>
                                <td>{{patientVitalSign.pulsePerMinute}}</td>
                            </tr>
                            <tr>
                                <th>Respiration per minute</th>
                                <td>{{patientVitalSign.respirationPerMinute}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card-panel #dcedc8 light-green lighten-4" style="width: 90%; margin: 20px auto; padding: 10px;">
        <h5>System Review</h5>
        <table>
            <tbody>
            <tr dir-paginate="patientSystemReview in patientSystemReviews | itemsPerPage: 5">
                <td style="padding: 0px;">
                    <div class="card-panel #e8f5e9 green lighten-5" style="width: 95%; margin: 10px auto;">
                        <table class="striped">
                            <thead>
                            <tr>
                                <th colspan="2">Date: {{patientSystemReview.date | date:'medium'}}<br>Conductor ID: {{patientSystemReview.conductor_ID}}</th>
                            </tr>
                            <tr>
                                <th width="40%">Section</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>General</th>
                                <td>{{patientSystemReview.general}}</td>
                            </tr>
                            <tr>
                                <th>Eyes</th>
                                <td>{{patientSystemReview.eyes}}</td>
                            </tr>
                            <tr>
                                <th>Nose</th>
                                <td>{{patientSystemReview.nose}}</td>
                            </tr>
                            <tr>
                                <th>Ears</th>
                                <td>{{patientSystemReview.ears}}</td>
                            </tr>
                            <tr>
                                <th>Throat</th>
                                <td>{{patientSystemReview.throat}}</td>
                            </tr>
                            <tr>
                                <th>Cardio Vascular</th>
                                <td>{{patientSystemReview.cardioVascular}}</td>
                            </tr>
                            <tr>
                                <th>Gastrointestinal</th>
                                <td>{{patientSystemReview.gastrointestinal}}</td>
                            </tr>
                            <tr>
                                <th>Muscoskeletal</th>
                                <td>{{patientSystemReview.musculoskeletal}}</td>
                            </tr>
                            <tr>
                                <th>Skin</th>
                                <td>{{patientSystemReview.skin}}</td>
                            </tr>
                            <tr>
                                <th>Neurologic</th>
                                <td>{{patientSystemReview.neurologic}}</td>
                            </tr>
                            <tr>
                                <th>Psychiatric</th>
                                <td>{{patientSystemReview.psychiatric}}</td>
                            </tr>
                            <tr>
                                <th>Endocrine</th>
                                <td>{{patientSystemReview.endocrine}}</td>
                            </tr>
                            <tr>
                                <th>Hemelympathic</th>
                                <td>{{patientSystemReview.hemelympathic}}</td>
                            </tr>
                            <tr>
                                <th>Allergicimmunology</th>
                                <td>{{patientSystemReview.allergicimmunologic}}</td>
                            </tr>
                            <tr>
                                <th>Notes</th>
                                <td>{{patientSystemReview.notes}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card-panel #dcedc8 light-green lighten-4" style="width: 90%; margin: 20px auto; padding: 10px;">
        <h5>Physical Exam</h5>
        <table>
            <tbody>
            <tr dir-paginate="patientPhysicalExam in patientPhysicalExams | itemsPerPage: 5">
                <td style="padding: 0px;">
                    <div class="card-panel #e8f5e9 green lighten-5" style="width: 95%; margin: 10px auto;">
                        <table class="striped">
                            <thead>
                            <tr>
                                <th colspan="2">Date: {{patientPhysicalExam.date | date:'medium'}}<br>Conductor ID: {{patientPhysicalExam.conductor_ID}}</th>
                            </tr>
                            <tr>
                                <th width="40%">Section</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>General</th>
                                <td>{{patientPhysicalExam.generalApperance}}</td>
                            </tr>
                            <tr>
                                <th>Eyes</th>
                                <td>{{patientPhysicalExam.eyes}}</td>
                            </tr>
                            <tr>
                                <th>Nose</th>
                                <td>{{patientPhysicalExam.nose}}</td>
                            </tr>
                            <tr>
                                <th>Ears</th>
                                <td>{{patientPhysicalExam.ears}}</td>
                            </tr>
                            <tr>
                                <th>Mouth</th>
                                <td>{{patientPhysicalExam.mouth}}</td>
                            </tr>
                            <tr>
                                <th>Throat</th>
                                <td>{{patientPhysicalExam.throat}}</td>
                            </tr>
                            <tr>
                                <th>Respiratory</th>
                                <td>{{patientPhysicalExam.respiratory}}</td>
                            </tr>
                            <tr>
                                <th>Cardio Vascular</th>
                                <td>{{patientPhysicalExam.cardioVascular}}</td>
                            </tr>
                            <tr>
                                <th>Skin</th>
                                <td>{{patientPhysicalExam.skin}}</td>
                            </tr>
                            <tr>
                                <th>Problem</th>
                                <td>{{patientPhysicalExam.problem}}</td>
                            </tr>
                            <tr>
                                <th>Impression</th>
                                <td>{{patientPhysicalExam.impression}}</td>
                            </tr>
                            <tr>
                                <th>Notes</th>
                                <td>{{patientPhysicalExam.notes}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- END MAIN -->




<!-- ================================================
Scripts
================================================ -->




</body>
<!-- Angular -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-cookies.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>

<script type="text/javascript" src="js/dirPagination.js"></script>
<script type="text/javascript" src="source-medical/sourcemed.js"></script>
<script type="text/javascript" src="source-medical/login.module.js"></script>
<script type="text/javascript" src="source-medical/login.controller.js"></script>
<script type="text/javascript" src="source-medical/login.service.js"></script>
<script type="text/javascript" src="source-medical/date.service.js"></script>
<script type="text/javascript" src="source-medical/doctor-dashboard.controller.js"></script>
<script type="text/javascript" src="source-medical/pastMedicalChart.controller.js"></script>
<script type="text/javascript" src="source-medical/patient.controller.js"></script>

</html>